@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmare inregistrare";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
   
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click aici pentru a va confirma emailul</a>
</p>
    }
    else
    {
<p>
        
        Va rugam sa verificati emailul pentru a va confirma contul.
</p>
    }
}

